
.secao-pagina-sobre {
    width: 100%;
}
.baner-pagina-sobre {
    width: 100%;
    height: 70vh;

    background: url(/public/assets/banner-sobre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
}
.baner-pagina-sobre h1 {
    
    font-size: 40px;
    color: antiquewhite;
    text-shadow: 2px 2px 2px rgb(133, 110, 110);
}
.secao-pagina-sobre
.box-texto {
    max-width: 1000px;
   text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
}
.secao-pagina-sobre
.box-texto p {
    font-family: 'Pacifico', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Satisfy', cursive;
font-size: 30px;
}
.secao-pagina-sobre
.box-texto h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.secao-pagina-sobre
.box-duas-imagens {
    width: 100%;
    height: 80vh;

    background: url(https://i.pinimg.com/736x/8b/c2/3a/8bc23a02cda2f69fcb2c91f1958275a3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
}
@media screen and (max-width:412px) {
    .baner-pagina-sobre {
        background-image: url(https://img.freepik.com/fotos-premium/sorvete-de-chocolate-imagem-4k_758367-109.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        background-position: center;
    }
    .secao-pagina-sobre
.box-duas-imagens {
    height: 70vh;
    background-image: url(https://www.designi.com.br/images/preview/11883713.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
}
