.secao-baner {
  background-image: url(/public/assets/banner-home.png);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #F9DB79;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.titulo {
  font-family: 'Pacifico', cursive;
  font-family: 'Russo One', sans-serif;
  
  color: antiquewhite;
  text-shadow: 2px  2px 2px black;
}
.secao-sabores,
.secao-eventos,
.secao-sobre { 
  display: flex;
  
  
  
}

  

.container-img,
.container-texto {
  width: 50%;
  
  
  
}
.container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-texto {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.container-texto p {
  padding: 20px;
  font-family: 'Pacifico', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Satisfy', cursive;
font-size: 25px;
}
.container-texto span {
  font-style: italic;
  color: black;
  font-weight: 600;
}

@media  screen and (max-width:425px) {
  .secao-sabores,  
  .secao-sobre {
    display: flex;
    flex-direction: column;
  }
  .secao-eventos {
    display: flex;
    flex-direction: column-reverse;
  }
  .container-img,
  .container-texto {
    width: 100%;
  }
}
